{% extends 'base.html.twig' %}

{% block title %}Détail d'un employé{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Détauk d'un employé</h1>

    <h2>{{ employe }}</h2>

    <p>
        Entreprise : <a href="{{ path('show_entreprise', {'id':employe.entreprise.id} ) }}">{{ employe.entreprise }}</a> <br>
        Ville : {{ employe.ville }} <br>
        Date de naissance : {{ employe.dateNaissance|date("d/m/Y") }} <br>
        Date d'embauche : {{ employe.dateEmbauche|date('d/m/Y') }} <br>
    </p>

</div>


{% endblock %}
